body {background-color: gray;}
h1 {font-family: Arial, Helvetica, sans-serif;}
p {background-color: black;}
p {font-family: Arial, Helvetica, sans-serif;}
p {color: white;}
#kkk {font-size: 150%;}
.resaltado { background-color: rgb(0, 0, 0); font-weight: bold; }
ul > li { list-style: circle; }
div p { color: rgb(198, 69, 69); } 